
/* Portfolio or works blocks */
#works { 
    padding: 60px 0 !important ;
    background-color: #fff !important;
}
#works ul.cat { 
    margin: 30px 0 !important; 
}
#works ul.cat li a {
    background: inherit !important;
    border: 1px solid #38A5DB !important;
    padding: 10px 16px !important;
}
ul.cat li a:hover,
ul.cat li a:focus,
ul.cat li a.active {
    background: #38A5DB !important;
    border: 1px solid #38A5DB !important;
    padding: 10px 16px !important;
    border-radius: 0 !important;
    color: #fff !important;
}
.nopadding { 
    padding: 0 !important;
}
.box a { 
    margin: 2px !important;
}
.box .hover-bg {
    position: relative !important;
    overflow: hidden !important;
}
.box .hover-bg .hover-text {
    height: 100% !important;
    bottom: 0 !important;
    -webkit-transform: translateX(0%) translateY(0%) !important;
    transform: translateX(0%) translateY(0%) !important;
    background: transparent !important;
}
.box:hover .hover-bg .hover-text { 
    background-color: rgba(1, 1, 1, 0.5) !important;
}
.box .hover-bg:hover .hover-text.off {
    -webkit-transform: translateX(0%) translateY(0%) !important;
    transform: translateX(0%)  translateY(0%) !important;
    opacity: 1 !important;
}
.box .hover-text i.fa {
    font-size: 20px !important;
    background: #38A5DB !important;
    padding: 13px !important;
    position: relative !important;
    top: 40% !important;
    border-radius: 0 !important;
    width: 45px !important;
    height: 45px !important;
    transition: all 0.5s !important;
}
.box .hover-text i.fa:hover { 
    background: #333333 !important;
}
.box .hover-text i.fa.fa-expand {
    border-top-right-radius: 0 !important;
    -webkit-transform: translateX(-400%) translateY(0%) !important;
    transform: translateX(-400%)  translateY(0%) !important;
    opacity: 0 !important;
    transition: all 0.5s !important;
}
.box:hover .hover-text i.fa.fa-expand {
    -webkit-transform: translateX(0%) translateY(0%) !important;
    transform: translateX(0%)  translateY(0%) !important;
    opacity: 1 !important;
}
.box .hover-text i.fa.fa-chain {
    border-top-left-radius: 0 !important;
    -webkit-transform: translateX(400%) translateY(0%) !important;
    transform: translateX(400%)  translateY(0%) !important;
    opacity: 0 !important;
    transition: all 0.5s !important;
}
.box:hover .hover-text i.fa.fa-chain {
    -webkit-transform: translateX(0%) translateY(0%) !important;
    transform: translateX(0%)  translateY(0%) !important;
    opacity: 1 !important;
}
/* Style 2 - Not Fullwidth */
#itemsWorkThree .box,
#itemsWorkTwo .box { 
    margin-bottom: 30px !important;
}
#itemsWorkTwo .hover-bg .hover-text { 
    padding: 30% 0 !important;
}
#itemsWorkTwo .box:hover .hover-bg .hover-text {
    background-color: rgba(255, 223, 125, 0.70) !important;
    border: 10px solid rgba(185, 156, 72, 0.80) !important;
}
#itemsWorkTwo .box .hover-bg .hover-text h5 small {
    text-transform: capitalize !important;
    color: #000000 !important;
}
#itemsWorkTwo .box .hover-bg .hover-text h5 {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    color: #000000 !important;
    -webkit-transform: translateX(0%) translateY(400%) !important;
    transform: translateX(0%)  translateY(400%) !important;
    opacity: 0 !important;
    transition: all 0.5s !important;
}
#itemsWorkTwo .box:hover .hover-bg .hover-text.off h5 {
    -webkit-transform: translateX(0%) translateY(0%) !important;
    transform: translateX(0%)  translateY(0%) !important;
    opacity: 1 !important;
}
#itemsWorkTwo .box .hover-text i.fa {
    font-size: 20px !important;
    background: transparent !important;
    padding: 13px !important;
    position: relative !important;
    top: 40% !important;
    border-radius: 50% !important;
    width: 45px !important;
    height: 45px !important;
    transition: all 0.5s !important;
    border: 1px solid #ffffff !important;
}
#itemsWorkTwo .box .hover-text i.fa:hover { 
    background: #333333 !important;
}
/* Portfolio Style #3 */
#itemsWorkThree .box h5 {
    border: 1px solid #ddd !important;
    padding: 10px 0 !important;
    margin: 0 !important;
}
/* Isotope Filter */
.isotope-item { z-index: 2 !important;
}
.isotope-hidden.isotope-item { 
    z-index: 1 !important;
}
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.nivo-lightbox-theme-default .nivo-lightbox-title {
    font-size: 14px;
    background: #f1f1f1;
    border: 1px solid #333;
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 35px;
    border-radius: 2px;
}
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
}
.nivo-lightbox-theme-default .nivo-lightbox-nav,
.nivo-lightbox-theme-default .nivo-lightbox-close { 
    opacity: 1;
}
.nivo-lightbox-error {
    color: #C59A6D !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
}
.nivo-lightbox-theme-default .nivo-lightbox-image img {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);

}
/* Single Portfolio Detail */
#work-detail-one,
#work-detail-two,
#work-detail-three { padding: 60px 0 }
.work-detail .dl-horizontal dt {
    text-align: left;
    margin-bottom: 10px;
}
.work-related-thumb { margin-bottom: 30px }
.work-related-thumb .img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: 60% !important;
    padding: 0;
    line-height: 1.42857143;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.work-related-thumb .img-thumbnail:hover { 
    opacity: 0.8; 
}